.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        a
      .main-header__left-box__member-list
        Member:
        .main-header__left-box__member-list__member
          aaa
        .main-header__left-box__member-list__member
          aaaa
        .main-header__left-box__member-list__member
          aaa
        .main-header__left-box__member-list__member
          muu
    .main-header__edit-btn
      Edit

  .messages
    .message
      .message__upper-info
        .message__upper-info__talker
          muu
        .message__upper-info__date
          2019/04/01(Mon)12:44:17
      .message__text
        aaa

  .form

    .new_message
      .input-box
        %input.message_form{placeholder: 'type a message'}
        .input-box__image
          %label
            %i.fa.fa-image
            %input#message_image.input-box__image__file{:name => "message[image]", :type => "file",:style => "display:none"}/


          / = f.file_field :image, id: "upload-icon"


      %input.btn{type: 'submit',value: 'Send'}

