.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        muu
      .side-header__box__menu
        .side-header__box__menu__edit-user
          %i.fa.fa-edit
          %a{:href => '/' }
        .side-header__box__menu__new-group
          %i.fa.fa-cog
  .groups
    %a
      .group
        .group__group-name
          a
        .group__latest-message
          aaa
